@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0%;
    margin: 0%;
}


h1 {
    text-align: center;
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 10px;
    justify-content: space-around;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 30px;
    text-align: center;
    background-color: darksalmon;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}

.ubicacion {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: burlywood;
    display: flex;
    align-content: center;
    justify-content: center;
}

nav ul li {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    list-style: none;
    margin-top: 50px;
    margin-left: 110px;
    text-align: center;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}


footer {
    background-color: blanchedalmond;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

header {
    background-color: blanchedalmond;
    margin-bottom: 20px;
}

#grilla {
    background-color: burlywood;
    display: grid;
    grid-template-areas:
        "aside"
        "contenedor";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    min-width: 100%;
}


nav li {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    gap: 10px;
    transition: all 1s;
}


li:hover {
    color: antiquewhite;
    background-color: darksalmon;
    transform: scale(1.3);
}

#caja {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.imagenes {
    background-color: antiquewhite;
    width: 300px;
    padding-top: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.formulario {
    background-color: antiquewhite;
    padding-top: 20px;
    margin: 50px;
    text-align: center;
    border-radius: 10px;
}

body {
    background-color: rgb(250, 245, 249);
    width: 100%;
    height: 100vh;
}

.secciones {
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}
.logo{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    
    
}


.acordeonPreguntas{
    background-color:burlywood;
    
}

.fondoAcordeon{
    background-color: burlywood;
    margin:20px;
    padding-top: 10px;
}
.preguntas{
    background-color: blanchedalmond;
    margin-bottom: 20px;
}
.acordeon{
    margin:20px;
}

.envios{
    border-radius: 20px;
    border: 5px solid darksalmon;
    margin: 25px;

}

.botonCompra{
    background-color: darksalmon;
    margin-top: 20px;
    margin-bottom: 20px;
}



@media(min-width:768px) {
    header {
        background-color: rgb(211, 158, 141);
        margin-bottom: 20px;

    }

    footer {
        background-color: rgb(211, 158, 141);
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
    }

    aside {
        grid-area: aside;
    }

    .contenedor {
        grid-area: contenedor;
    }

    #grilla {
        background-color: burlywood;
        display: grid;
        grid-template-areas:
            "aside"
            "contenedor";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
    }

    nav ul li {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        list-style: none;
        margin-top: 50px;
        margin-left: 120px;
        text-align: center;
        font-size: large;
        font-family: 'Montserrat', sans-serif;
    }

    nav li {
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
        list-style: none;
        text-align: center;
        margin-bottom: 30px;
        padding: 10px;
        transition: all 1s;

    }

    .ubicacion {
        text-align: center;
        margin-top: 10px;
        padding: 10px;
        background-color: burlywood;
    }

    .botonCompra{
        background-color:rgb(211, 158, 141);
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


@media(min-width:1024px) {

    header {
        background-color: darksalmon;
        margin-bottom: 20px;

    }

    footer {
        background-color: darksalmon;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
    }

    nav ul li {
        display: inline-block;
        list-style: none;
        margin-top: 50px;
        margin-left: 120px;
        text-align: center;
        font-size: large;
        font-family: 'Montserrat', sans-serif;
    }

    #grilla {
        background-color: burlywood;
        display: grid;
        grid-template-areas:
            "aside contenedor"
            "aside contenedor";
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    #caja {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
    }

    .ubicacion {
        text-align: center;
        margin-top: 10px;
        padding: 10px;
        background-color: burlywood;

    }
    .barra{
        background-color: darksalmon;
    }
    
    .botonCompra{
        background-color: darksalmon;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    

    
}
