
header {
    background-color: blanchedalmond;
    margin-bottom: 20px;
    @media(min-width: 768px){
        background-color: rgb(211, 158, 141);
    }
    @media(min-width:1024px){
        background-color: darksalmon;
    }
}
