#grilla {
    aside {
        grid-area: aside;
    }

    .contenedor {
        grid-area: contenedor;
    }

    background-color: burlywood;
    display: grid;
    grid-template-areas: "aside"
    "contenedor";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    min-width:100%;

    @media(min-width:1024px) {
        grid-template-areas:
            "aside contenedor"
            "aside contenedor";
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 1fr;
    }
}

nav {
    li {
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
        list-style: none;
        text-align: center;
        margin-bottom: 30px;
        padding: 10px;
        transition: all 1s;
    }

}

.imagenes {
    background-color: antiquewhite;
    width: 300px;
    padding-top: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.ubicacion {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: burlywood;
}