@media(min-width:768px) {
    header {
        background-color: rgb(211, 158, 141);
        margin-bottom: 20px;

    }

    footer {
        background-color: rgb(211, 158, 141);
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
    }

    aside {
        grid-area: aside;
    }

    .contenedor {
        grid-area: contenedor;
    }

    #grilla {
        background-color: burlywood;
        display: grid;
        grid-template-areas:
            "aside"
            "contenedor";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
    }

    nav ul li {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        list-style: none;
        margin-top: 50px;
        margin-left: 120px;
        text-align: center;
        font-size: large;
        font-family: 'Montserrat', sans-serif;
    }

    nav li {
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
        list-style: none;
        text-align: center;
        margin-bottom: 30px;
        padding: 10px;
        transition: all 1s;

    }

    .ubicacion {
        text-align: center;
        margin-top: 10px;
        padding: 10px;
        background-color: burlywood;
    }

    .botonCompra{
        background-color:rgb(211, 158, 141);
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media(min-width:1024px) {

    header {
        background-color: darksalmon;
        margin-bottom: 20px;

    }

    footer {
        background-color: darksalmon;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
    }

    nav ul li {
        display: inline-block;
        list-style: none;
        margin-top: 50px;
        margin-left: 120px;
        text-align: center;
        font-size: large;
        font-family: 'Montserrat', sans-serif;
    }

    #grilla {
        background-color: burlywood;
        display: grid;
        grid-template-areas:
            "aside contenedor"
            "aside contenedor";
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    #caja {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
    }

    .ubicacion {
        text-align: center;
        margin-top: 10px;
        padding: 10px;
        background-color: burlywood;

    }
    .barra{
        background-color: darksalmon;
    }
    
    .botonCompra{
        background-color: darksalmon;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    

    
}